body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('pastel'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 136, 136, 0.8); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}

header {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

h1 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="file"],
input[type="text"],
input[type="email"],
textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3897f0;
    color: #fff;
    cursor: pointer;
}

